#column {
display:flex;
width: 90%;
flex-wrap:wrap;
align-items: center;
justify-content:space-around;
margin: 10rem auto;
}
.parent {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding: 20px;
}
.card {
    height: 40vh;
    height: 50vh;
    width: 20vw;
    background-color: rgb(206, 98, 35);
    border-radius: 20px;
    margin: 0.5rem 0;
    font-family: Impact;
    }
body{
    background-color: rgba(240, 175, 100, 0.973);
}
.img{
    flex-wrap: wrap;
    align-items: center;
    height: 198px;
    width: 198px;
    object-fit: cover;
}
